<!doctype html>
<html>
<head>
<title></title>
<link rel="stylesheet" href="style.css"/>
</head>

<body class="landing">
  <header>
    <div class="nav">
      <ul>
        <li class="login"><a class="active" href="/login">Login</a></li>
        <li class="sign_up"><a href="/signup">Sign Up</a></li>
        <li class="about"><a href="/about">About</a></li>
      </ul>
    </div>
  </header>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
<h1>Tired of getting in your own way? Do you want to become the best version of yourself?</h1>
<div class="box">
  <a class="button" href="#popup1">click me</a>
</div>

<div id="popup1" class="overlay">
  <div class="popup">
    <h2>Are you sure?</h2>
    <a class="close" href="#">&times;</a>
    <div class="content">
     lol jk go back to doing nothing with yourself.
    </div>
  </div>
</div>




<video playsinline autoplay muted loop poster="../media/Productive-Morning.jpg" id="bgvid">
    <source src="../media/Productive-Morning.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
    <source src="../media/Productive-Morning.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
</video>


<script src="jquery.js"></script>
<script src="script.js"></script>
</body>
</html>
