<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" href="style.css"/>
</head>
<body>

<body class="landing">
  <header>
    <div class="nav">
      <ul>
        <li class="search"><a href="/search">Search</a></li>
        <li class="journal"><a href="/journal">Journal</a></li>
        <li class="profile"><a href="/user_profile">Profile</a></li>
        <li class="topics"><a href="/topics">Topics</a></li>
      </ul>
    </div>
  </header>


<h1>user's profile</h1>
</body>
</html>
