<!DOCTYPE html>
<html>
<head>
  <title>Anxiety</title>
  <link rel="stylesheet" href="style.css"/>
</head>
<body>

<body class="landing">
  <header>
    <div class="nav">
      <ul>
        <li class="login"><a class="active" href="/login">Login</a></li>
        <li class="sign_up"><a href="/signup">Sign Up</a></li>
        <li class="search"><a href="/search">Search</a></li>
        <li class="journal"><a href="/journal">Journal</a></li>
        <li class="profile"><a href="/user_profile">Profile</a></li>
        <li class="topics"><a href="/topics">Topics</a></li>
      </ul>
    </div>
  </header>

<h1>Anxiety</h1>

  <li class="fear"><a href="/fear">Fear</a></li>
  <!-- <li class="communication"><a href="/communication">Communication</a></li>
  <li class="depression"><a href="/depression">Depression</a></li>
  <li class="productivity"><a href="/productivity">Productivity</a></li>
  <li class="stress"><a href="/stress">Stress</a></li> -->
</body>
</html>
